<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container" id="indexContentContainer">
<div class="row">
<div class="col-sm">A</div><div class="col-sm">B</div><div class="col-sm">C</div>
</div>
</div>
